body {
    margin: 0;
    padding: 0;
    background-color: white;
}

img {
    width: 400px;
    display: block;
    border: 1px solid;
}

p {
    text-align: left;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 0;
    font-family: sans-serif;
}
